# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8470854364:AAFHtGYdkyfOjbGD3FPUy_O_fbqtSeSlwHE

# GitHub Configuration
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_REPO=evgn-ivanov/image-gallery
GITHUB_USERNAME=evgn-ivanov
GITHUB_EMAIL=evgn.ivanov@yandex.ru
